
<!-- el arroba y las llaves permiten codigo csharp-->
@{
    ViewData["Title"] = "Información Escuela";
}

 <!-- el h2 utiliza el model, el cual posee la información pasada por parametro-->
<h1>Escuela </h1>
<h2>Nombre: @Model.Nombre </h2>
<p>Tipo escuela: @Model.TipoEscuela</p>
<address>
    <p>Dirección: @Model.Dirección </p>
    <p>País: @Model.Pais</p>
    <p>Cuidad: @Model.Ciudad</p>
</address>

<p><strong>Año fundación: @Model.AñoDeCreación</strong> </p>

<!-- el viewdata y viewbag  muestran la inforación de la misma manera-->
<p><i>@ViewData["cosaDinamica"]</i></p>